@{
    Layout = null;
}
<html>
<head>
    <title>
        Markdown Previewer 
    </title>

    <link href="~/Content/MarkdownPractice.css" rel="stylesheet" />
</head>

<body>
    <div id="content"></div>

    
    <script src="~/Scripts/react/react.js"></script>
    <script src="~/Scripts/react/react-dom.js"></script> 
    <script src="http://fb.me/JSXTransformer-0.12.2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
    <script type="text/jsx" src="~/Scripts/MarkdownPractice.jsx"></script>    
</body>

</html>