.userInput {
    max-width: 43%;
     min-width: 43%;
      min-height: 499px;
       background-color: lightblue;
        float: left;
         margin: 10px;
}

.output {
    word-wrap: break-word;
    background-color: cadetblue;
    max-width: 46%;
    min-width: 46%;
     min-height: 500px;
     float: right;
      margin: 10px;
}